@font-face {
    font-family: 'Squid Boy';
    src: url('SquidBoyRegular.woff2') format('woff2'),
        url('SquidBoyRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

